if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AdcVnr]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[AdcVnr]
GO

CREATE TABLE [dbo].[AdcVnr] (
	[vnr_codigo] [varchar] (20) COLLATE Modern_Spanish_CI_AS NULL ,
	[vnr_nombre] [varchar] (40) COLLATE Modern_Spanish_CI_AS NULL ,
	[vnr_existencia] [numeric](18, 6) NULL ,
	[vnr_valorunit] [numeric](18, 6) NULL ,
	[vnr_valortot] [numeric](18, 6) NULL ,
	[vnr_pvpunit] [numeric](18, 6) NULL ,
	[vnr_pvptot] [numeric](18, 6) NULL ,
	[vnr_costestimado] [numeric](18, 6) NULL ,
	[vnr_gastoterm] [numeric](18, 6) NULL ,
	[vnr_gastovent] [numeric](18, 6) NULL ,
	[vnr_valnetoreal] [numeric](18, 6) NULL ,
	[vnr_año] [varchar] (5) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

