<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActivosFijos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ActivosFijos.My.MySettings>
            <setting name="chkTipoAct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optTangibles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optIntangibles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optAmbosAct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkFecIng" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtDesde" serializeAs="String">
                <value />
            </setting>
            <setting name="txtHasta" serializeAs="String">
                <value />
            </setting>
            <setting name="chkCompuesto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkNoCompuesto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkCategoria" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cboCategoria" serializeAs="String">
                <value />
            </setting>
            <setting name="chkClase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cboClase" serializeAs="String">
                <value />
            </setting>
            <setting name="chkGrupo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cboGrupo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkSubg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cboSubg" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSucursal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cboSucursal" serializeAs="String">
                <value />
            </setting>
            <setting name="chkDep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cboDep" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSeccion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cboSeccion" serializeAs="String">
                <value />
            </setting>
            <setting name="chkTipoDep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optFinanciera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optTributaria" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optAmbasDep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkResponsable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cadena" serializeAs="String">
                <value />
            </setting>
            <setting name="cboResponsable" serializeAs="String">
                <value />
            </setting>
        </ActivosFijos.My.MySettings>
    </userSettings>
</configuration>
