/****** Object:  StoredProcedure [dbo].[Adc_ReptDoc]    Script Date: 01/20/2012 08:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Adc_ReptDoc]
@fechaIni as date= null,
@fechafin as date = null,
@tipo as char(2)='',
@codCliIni as varchar(20)='',
@codClifin as varchar(20)='',
@codSuc as char(3)='',
@codBod as char(3)='',
@codDoc as char(3)='',
@codVend as char(3)=''
AS
BEGIN
declare @signo as int
declare @clav as int
declare rs cursor for
	select idClavedoc,case @tipo when 'I' then  doc_inventario
			when 'B' then doc_banco
			when 'C' then doc_compras
			when 'CP' then doc_compras
			when 'V' then doc_ventas 
			when 'CC' then doc_ventas end as sg 
			from adcdoc where doc_sucursal=@codSuc
	open rs
	fetch next from rs 
	into @clav,@signo
		while @@fetch_status = 0
		begin
				select d.doc_Sucursal,Doc_Bodega,d.Opc_documento,doc_docnombre,d.Doc_Numero ,d.doc_fecha,doc_codper,Doc_NombreImp ,Doc_detalle,(Doc_totciva+Doc_totsiva)* @signo as Valor
				,(Doc_valordes1*(-1)*@signo ) as Doc_valordes1,(Doc_valordes2*(-1)*@signo)as Doc_valordes2,(Doc_valordes3*(-1)*@signo) as Doc_valordes3,(Doc_valordes4*(-1)*@signo) as Doc_valordes4,
				case when (@tipo<>'CP' or @tipo<>'CC') then   doc_valor*@signo  else max(ap.ValorApli)*@signo end as doc_valor
				,(Doc_valoriva*(-1)*@signo) as Doc_valoriva,(ValorImp1*(-1)*@signo) as ValorImp1,(ValorImp2*(-1)*@signo) as ValorImp2,(ValorImp3*(-1)*@signo) as ValorImp3,
				Doc_DocSop ,Doc_NumSop,Doc_venabre,i.Apellidos, p.Pag_TipoPago 
				from AdcDoc d left join AdcPag p on(d.IdClaveDoc =p.IdClaveDoc and d.Opc_documento =p.Opc_documento and d.Doc_sucursal = p.Doc_sucursal )
				left join Identificacion i on (i.Codigo= d.Doc_venabre )
				left join 
				(select Doc_sucursal,Opc_documento ,IdClaveDoc ,IdClaveDocApl ,Apl_docapli,sum(Apl_valorapl)as ValorApli   from AdcApl 
				group by Doc_sucursal ,Opc_documento ,IdClaveDoc,IdClaveDocApl ,Apl_docapli )
				ap on(d.IdClaveDoc = ap.IdClaveDoc and d.Opc_documento =ap.Opc_documento and d.Doc_sucursal = ap.Doc_sucursal)
				where (d.Doc_Fecha>= @fechaIni and d.Doc_Fecha<=@fechafin)
				  and ((@codCliIni <> '' and  Doc_codper >=@codCliIni and Doc_codper <= @codClifin ) or @codCliIni='')
				  and ((@codSuc <>'' and d.Doc_sucursal =@codSuc )or @codSuc='')
				  and ((@codBod <>'' and Doc_Bodega  =@codBod )or @codBod='')
				  and ((@codDoc <>'' and d.Opc_documento =@codDoc )or @codDoc='')
				  and ((@codVend <>'' and Doc_venabre  =@codVend )or @codVend='')
				  and ((@tipo='I' and Doc_Inventario <>0) 
					   or (@tipo='B' and Doc_Banco <>0 ) 
					   or (@tipo ='V' and Doc_Ventas<>0) or(@tipo ='C' and Doc_Compras<>0)
					   or (@tipo ='CP' and Doc_Compras <>0 and (p.Pag_TipoPago <>2 or(doc_banco=-1 and ap.Apl_docapli <>'' and ap.IdClaveDocApl >0)))
					   or (@tipo ='CC' and Doc_Ventas <>0 and  (p.Pag_TipoPago <>2 or(doc_banco=1 and ap.Apl_docapli <>'' and ap.IdClaveDocApl >0))))
					   and d.IdClaveDoc = @clav
				group by d.Opc_documento ,d.Doc_Numero,d.doc_Sucursal,Doc_Bodega,doc_docnombre,d.Doc_Numero ,d.doc_fecha,doc_codper,Doc_NombreImp ,Doc_detalle,Doc_totciva,
				Doc_totsiva ,Doc_valordes1,Doc_valordes2,Doc_valordes3,Doc_valordes4,doc_valor,Doc_valoriva, ValorImp1,ValorImp2,ValorImp3,
				Doc_DocSop ,Doc_NumSop,Doc_venabre,i.Apellidos, p.Pag_TipoPago 
				order by d.Doc_Fecha 
		fetch next from rs 
		into @clav,@signo
		end
	close rs
    deallocate rs
END

