<configuration>
	<appSettings>
		<add key="ApiUrlBase" value="http://209.145.60.129:9081/consultas/v2/cedula/"/>
		<add key="ApiLoginUrl" value="http://209.145.60.129:9081/auth/token"/>
		<add key="ApiUser" value="tu_usuario"/>
		<add key="ApiPass" value="tu_contraseña"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
