<configuration>
	<appSettings>
		<add key="ApiUrlBase" value="http://209.145.60.129:9081/consultas/v2/cedula/" />
		<add key="ApiLoginUrl" value="http://209.145.60.129:9081/auth/token" />
		<add key="ApiUser" value="tu_usuario" />
		<add key="ApiPass" value="tu_contraseña" />
	</appSettings>
</configuration>
