
/****** Object:  StoredProcedure [dbo].[ACTNOV_INS_MOV]    Script Date: 05/30/2011 16:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------------------------------------------------------------------
 ALTER PROCEDURE [dbo].[ADC_REP003]
@opcion char(1)='',
@codigo varchar(20)='',
@fecDesde as datetime=null,
@fecHasta as datetime=null
AS
BEGIN 
if @opcion ='D'
begin
		select depre.Codigo,activo.Nombre ,activo.FecIngreso,depre.año,depre.Mes,
		cast(ABS(a1.DepF - a2.DepT) as numeric(18,2))as Depreciación, cast(ABS(a1.AcumF -a2.AcumT) as numeric(18,2)) as AcumuladoDep,
		ABS((activo.CostoIngreso - a11.valAcT)-(activo.CostoIngreso-a12.AcumF)) as ValorLibros
		from adcAcfDep depre
		left join
		(select codigo,Mes,año, DepreciacionMes as DepF,AcumDepreciacion as AcumF from AdcAcfDep
		where ClaseDepreciacion='F')a1 on (depre.Codigo = a1.Codigo and depre.Mes =a1.Mes and depre.año = a1.año)
		left join
		(select Codigo ,Mes, año 
		,ABS(AcumDepreciacion +AcumRevaloriizacion -AcumDeterioro - DepreciacionMes + RevalorizacionMes - DeterioroMes )as AcumF
		from AdcAcfDep 
		where ClaseDepreciacion='F') a12 on(depre.Codigo =a12.Codigo and depre.año=a12.año and depre.Mes =a12.Mes )
		left join
		(select codigo,Mes,año, DepreciacionMes as DepT,AcumDepreciacion as AcumT from AdcAcfDep
		where ClaseDepreciacion='T')a2 on(depre.Codigo =a2.Codigo and depre.año=a2.año and depre.Mes =a2.Mes )
		left join
		(select Codigo ,Mes, año 
		,ABS(AcumDepreciacion +AcumRevaloriizacion -AcumDeterioro - DepreciacionMes + RevalorizacionMes - DeterioroMes )as valAcT
		from AdcAcfDep 
		where ClaseDepreciacion='T') a11 on (depre.Codigo=a11.Codigo and depre.Mes =a11.Mes and depre.año = a11.año )
		left join 
		(select act.Codigo, act.Nombre ,act.CostoIngreso, act.FecIngreso from AdcAcf act) activo 
		on depre.Codigo = activo.Codigo 
		where depre.año*100+depre.Mes >= YEAR(@fecDesde)*100+MONTH(@fecDesde) and depre.año*100+depre.Mes <= YEAR(@fecHasta)*100+MONTH(@fecHasta)
		group by depre.Codigo,activo.Nombre ,activo.FecIngreso,depre.año,depre.Mes,activo.CostoIngreso, a1.DepF 
		,a2.DepT, a1.AcumF ,a2.AcumT,a11.valAcT ,a12.AcumF  
		order by depre.Codigo,depre.año,depre.Mes 
end
else
begin
	if @codigo =''
		begin
				select act.Codigo, max(act.Nombre) as Nombre ,
				max(act.FecIngreso )as FecIngreso,dep.año,dep.mes, max(cast(dep.DepreciacionMes as numeric (18,2))) as Depreciación,max(cast(dep.AcumDepreciacion as numeric(18,2))) as AcumuladoDep,
				cast((max(act.CostoIngreso) - ABS(max(dep.AcumDepreciacion)+max(dep.AcumRevaloriizacion) -max(dep.AcumDeterioro)-max(dep.DepreciacionMes) +max(dep.RevalorizacionMes -dep.DeterioroMes)))as numeric(18,2)) as ValorLibros
				from AdcAcf act right join
					(
					select depre.Codigo,depre.año,depre.Mes
					,(AcumDepreciacion+ isnull(actF.AcumDep,0)) as AcumDepreciacion,
					(AcumRevaloriizacion+ isnull(actF.AcumRev,0) ) as AcumRevaloriizacion ,(AcumDeterioro+isnull(actF.AcumDet ,0)) as AcumDeterioro,
					(DepreciacionMes+isnull(actF.Dep ,0)) as DepreciacionMes ,(RevalorizacionMes+isnull(actF.Rev,0)) as  RevalorizacionMes,
					(DeterioroMes+isnull(actF.Det,0)) as DeterioroMes
					from adcAcfDep depre
						left join
						(
						select max(Codigo) as Codigo,sum(actp.CostoIngreso) as CostoIngreso ,max(actp.CodActivoPrincipal) as ActPrincipal , Mes,año,sum(DepreciacionMes) as Dep, sum(DeterioroMes ) as Det,sum(RevalorizacionMes) as Rev ,
						sum(AcumDepreciacion) as AcumDep ,sum(AcumDeterioro) as AcumDet,sum(AcumRevaloriizacion ) as AcumRev
						from AdcAcfDep dp
							left join (select codigo as cod, CodActivoPrincipal, CostoIngreso from Adcacf) actp on(actp.cod = dp.Codigo)
							where codigo in(select codigo from AdcAcf where EsComponente=1) group by dp.Mes, dp.año
							) actF on(depre.Codigo = actF.ActPrincipal and depre.Mes= actF.Mes and depre.año =actF.año )
							where ClaseDepreciacion=@opcion 
						) dep on(act.Codigo = dep.Codigo )
				where act.EsComponente=0 and dep.año*100+Mes >= YEAR(@fecDesde)*100+MONTH(@fecDesde) and dep.año*100+Mes <= YEAR(@fecHasta)*100+MONTH(@fecHasta)
				group by act.Codigo,dep.año ,dep.Mes 
				order by dep.año 
		end
	else
		begin
				select act.Codigo, max(act.Nombre) as Nombre ,
				max(act.FecIngreso )as FecIngreso,dep.año,dep.mes, max(cast(dep.DepreciacionMes as numeric (18,2))) as Depreciación,max(cast(dep.AcumDepreciacion as numeric(18,2))) as AcumuladoDep,
				cast((max(act.CostoIngreso) - ABS(max(dep.AcumDepreciacion)+max(dep.AcumRevaloriizacion) -max(dep.AcumDeterioro)-max(dep.DepreciacionMes) +max(dep.RevalorizacionMes -dep.DeterioroMes)))as numeric(18,2)) as ValorLibros
				from AdcAcf act right join
					(
					select depre.Codigo,depre.año,depre.Mes
					,(AcumDepreciacion+ isnull(actF.AcumDep,0)) as AcumDepreciacion,
					(AcumRevaloriizacion+ isnull(actF.AcumRev,0) ) as AcumRevaloriizacion ,(AcumDeterioro+isnull(actF.AcumDet ,0)) as AcumDeterioro,
					(DepreciacionMes+isnull(actF.Dep ,0)) as DepreciacionMes ,(RevalorizacionMes+isnull(actF.Rev,0)) as  RevalorizacionMes,
					(DeterioroMes+isnull(actF.Det,0)) as DeterioroMes
					from adcAcfDep depre
						left join
						(
						select max(Codigo) as Codigo,sum(actp.CostoIngreso) as CostoIngreso ,max(actp.CodActivoPrincipal) as ActPrincipal , Mes,año,sum(DepreciacionMes) as Dep, sum(DeterioroMes ) as Det,sum(RevalorizacionMes) as Rev ,
						sum(AcumDepreciacion) as AcumDep ,sum(AcumDeterioro) as AcumDet,sum(AcumRevaloriizacion ) as AcumRev
						from AdcAcfDep dp
							left join (select codigo as cod, CodActivoPrincipal, CostoIngreso from Adcacf) actp on(actp.cod = dp.Codigo)
							where codigo in(select codigo from AdcAcf where EsComponente=1) group by dp.Mes, dp.año
							) actF on(depre.Codigo = actF.ActPrincipal and depre.Mes= actF.Mes and depre.año =actF.año )
							where ClaseDepreciacion=@opcion 
						) dep on(act.Codigo = dep.Codigo )
				where act.EsComponente=0 and act.Codigo=@codigo and dep.año*100+Mes >= YEAR(@fecDesde)*100+MONTH(@fecDesde) and dep.año*100+Mes <= YEAR(@fecHasta)*100+MONTH(@fecHasta)
				group by act.Codigo,dep.año ,dep.Mes 
				order by dep.año 
			end
		--select depre.Codigo,activo.Nombre ,activo.FecIngreso,depre.año,depre.Mes,cast(depre.DepreciacionMes as numeric(18,2)) as Depreciación
		--,cast(depre.AcumDepreciacion as numeric(18,2))as AcumuladoDep,
		--cast((activo.CostoIngreso - ABS(AcumDepreciacion+AcumRevaloriizacion -AcumDeterioro-DepreciacionMes +RevalorizacionMes -DeterioroMes))as numeric(18,2)) as ValorLibros
		--from adcAcfDep depre
		--left join
		--(select act.Codigo, act.Nombre ,act.CostoIngreso, act.FecIngreso from AdcAcf act) activo 
		--on depre.Codigo = activo.Codigo
		--where ClaseDepreciacion=@opcion 
		--group by depre.Codigo,activo.Nombre ,activo.FecIngreso,depre.año,depre.Mes,activo.CostoIngreso,
		--depre.DepreciacionMes,AcumDepreciacion,AcumDeterioro,AcumRevaloriizacion,RevalorizacionMes,DeterioroMes 
		--order by depre.Codigo,depre.año,depre.Mes 
end
END
