/****** Object:  StoredProcedure [dbo].[ADC_VARCAP]    Script Date: 06/24/2011 12:41:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ADC_VARCAP]
 @año1 as integer,
 @año2 as integer,
 @NIVEL AS INTEGER,
 @excluirNif as char(1)
AS
BEGIN
if @excluirNif='No'
begin

			-- SET NOCOUNT ON added to prevent extra result sets from
			-- interfering with SELECT statements.
			SET NOCOUNT ON;

		SELECT    nombre, ' SALDO INICIAL' as detalle, isnull(Dia.Dia_valor,0) + isnull(Mov_SalDebe,0) as valor
		FROM
		(
		SELECT CT.Cta_codigo , MAX(ct.Cta_nombre) as nombre, SUM(d.Dia_valor * d.Dia_signo) as dia_valor 
		FROM AdcCta  CT LEFT OUTER JOIN
		AdcDia d 
		ON Ct.Cta_codigo = SUBSTRING(D.Cta_codigo,1,LEN(Ct.Cta_codigo))
		WHERE (CT.Cta_Nivel = @NIVEL  OR ( CT.Cta_Nivel < @NIVEL  AND CT.Cta_agrupacion = 0 )) AND CT.Cta_grupo = 3
		AND YEAR(D.Dia_fecha ) = @año1 
		GROUP BY CT.Cta_codigo 
		) DIA
		LEFT OUTER JOIN
		(
		 select  mov.Cta_Codigo ,mov.Mov_SalDebe  from  AdcCtaMov mov
			where Mov_Fecha = @año1
		 ) mov
		 ON DIA.Cta_codigo = Mov.Cta_Codigo 

		UNION ALL

		SELECT    nombre, detalle, isnull(Dia.Dia_valor,0)  as valor
		FROM
		(
		SELECT CT.Cta_codigo , MAX(ct.Cta_nombre) as nombre,MAX(d.dia_detalle) as detalle, SUM(d.Dia_valor * d.Dia_signo) as dia_valor 
		FROM AdcCta  CT LEFT OUTER JOIN
		AdcDia d 
		ON Ct.Cta_codigo = SUBSTRING(D.Cta_codigo,1,LEN(Ct.Cta_codigo))
		WHERE (CT.Cta_Nivel = @NIVEL  OR ( CT.Cta_Nivel < @NIVEL  AND CT.Cta_agrupacion = 0 )) AND CT.Cta_grupo = 3
		AND YEAR(D.Dia_fecha ) = @año2
		GROUP BY CT.Cta_codigo 
		) DIA
		--LEFT OUTER JOIN
		--(
		-- select  mov.Cta_Codigo ,mov.Mov_SalDebe  from  AdcCtaMov mov
		--    where Mov_Fecha = @año2
		-- ) mov
		-- ON DIA.Cta_codigo = Mov.Cta_Codigo 
		 order by nombre  
end 
else
begin
			-- SET NOCOUNT ON added to prevent extra result sets from
			-- interfering with SELECT statements.
			SET NOCOUNT ON;

		SELECT    nombre, ' SALDO INICIAL' as detalle, isnull(Dia.Dia_valor,0) + isnull(Mov_SalDebe,0) as valor
		FROM
		(
		SELECT CT.Cta_codigo , MAX(ct.Cta_nombre) as nombre, SUM(d.Dia_valor * d.Dia_signo) as dia_valor 
		FROM AdcCta  CT LEFT OUTER JOIN
		AdcDia d 
		ON Ct.Cta_codigo = SUBSTRING(D.Cta_codigo,1,LEN(Ct.Cta_codigo)) and ISNULL(d.Nifs,0)<>1
		WHERE (CT.Cta_Nivel = @NIVEL  OR ( CT.Cta_Nivel < @NIVEL  AND CT.Cta_agrupacion = 0 )) AND CT.Cta_grupo = 3
		AND YEAR(D.Dia_fecha ) = @año1 
		GROUP BY CT.Cta_codigo 
		) DIA
		LEFT OUTER JOIN
		(
		 select  mov.Cta_Codigo ,mov.Mov_SalDebe  from  AdcCtaMov mov
			where Mov_Fecha = @año1
		 ) mov
		 ON DIA.Cta_codigo = Mov.Cta_Codigo 

		UNION ALL

		SELECT    nombre, detalle, isnull(Dia.Dia_valor,0)  as valor
		FROM
		(
		SELECT CT.Cta_codigo , MAX(ct.Cta_nombre) as nombre,MAX(d.dia_detalle) as detalle, SUM(d.Dia_valor * d.Dia_signo) as dia_valor 
		FROM AdcCta  CT LEFT OUTER JOIN
		AdcDia d 
		ON Ct.Cta_codigo = SUBSTRING(D.Cta_codigo,1,LEN(Ct.Cta_codigo)) and ISNULL(d.Nifs,0)<>1
		WHERE (CT.Cta_Nivel = @NIVEL  OR ( CT.Cta_Nivel < @NIVEL  AND CT.Cta_agrupacion = 0 )) AND CT.Cta_grupo = 3
		AND YEAR(D.Dia_fecha ) = @año2
		GROUP BY CT.Cta_codigo 
		) DIA
		--LEFT OUTER JOIN
		--(
		-- select  mov.Cta_Codigo ,mov.Mov_SalDebe  from  AdcCtaMov mov
		--    where Mov_Fecha = @año2
		-- ) mov
		-- ON DIA.Cta_codigo = Mov.Cta_Codigo 
		 order by nombre 
end
END

