
/****** Object:  StoredProcedure [dbo].[ADC_BALANCE_RESUL]    Script Date: 06/24/2011 12:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ADC_BALANCE_RESUL]
 (
   @fecha datetime=NULL,
   @fecha1 datetime=null,
   @fechaAnt datetime=NULL,
   @fechaAnt1 datetime=null,
   @nivel int=1,
   @ExcluirNifs as char(2)=null
   )
AS
BEGIN
if @ExcluirNifs ='No'
begin

		select est.codigo ,est.Nombre , nota.Nota_Codigo as Nota,est.Año , cast(est.Año1 as numeric(18,2)) as Año1, cast((Año -Año1) as numeric(18,2)) as Diferencia
			,case when Año<=0 then 100 else cast(((Año1-Año)/Año *100) as numeric(18,2))end as Porcentaje
		from
		(
		select SUBSTRING(max(vta.Cta_codigo) ,0,1) AS codigo,'INGRESOS POR VENTAS NETAS' as Nombre,SUM(vtaAnt.Valor) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_vta=1

		union all

		select SUBSTRING(max(vta.Cta_codigo) ,0,1),'COSTO DE PRODUCTOS VENDIDOS' as Nombre,SUM(vtaAnt.Valor) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_cos=1

		union all

		select null as Codigo,'GANANCIA BRUTA' as Nombre,SUM(vtaAnt.Valor) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_cos=1 or AdcCta.res_vta=1

		union all

		select SUBSTRING(max(vta.Cta_codigo) ,0,1),'GASTOS DE COMERCIALIZACIÓN Y ADMINISTRACIÓN' as Nombre, SUM(vtaAnt.Valor ) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_gas=1

		union all

		select vta.Cta_codigo ,vta.Dia_ctanombre as Nombre,vtaAnt.Valor  as Año, vta.Valor as Año1
		from AdcCta
		left Join
		( 
		select AdcDia.Cta_codigo,AdcDia.Dia_ctanombre ,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1  
		group by AdcDia.Cta_codigo , AdcDia.Dia_ctanombre
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo and adccta.cta_nivel >= @nivel )
		left Join
		( 
		select AdcDia.Cta_codigo,AdcDia.Dia_ctanombre ,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1  
		group by AdcDia.Cta_codigo , AdcDia.Dia_ctanombre
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo and adccta.cta_nivel >= @nivel )
		where AdcCta.res_gas=1 and isnull(vta.Dia_ctanombre,'') <> ''

		union all

		select null as Codigo,'RESULTADO OPERATIVO' as Nombre,sum(vtaAnt.Valor) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_cos=1 or AdcCta.res_vta=1 or AdcCta.res_gas=1

		union all

		select SUBSTRING(max(vta.Cta_codigo) ,0,1),'MOVIMIENTOS FINANCIEROS' as Nombre,sum(vtaAnt.Valor) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_movFin=1 

		union all

		select vta.Cta_codigo ,vta.Dia_ctanombre as Nombre,vta.Valor as Año, vta.Valor as Año1
		from AdcCta
		left Join
		( 
		select AdcDia.Cta_codigo,AdcDia.Dia_ctanombre ,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1  
		group by AdcDia.Cta_codigo , AdcDia.Dia_ctanombre
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo and adccta.cta_nivel >= @nivel )
		left Join
		( 
		select AdcDia.Cta_codigo,AdcDia.Dia_ctanombre ,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1  
		group by AdcDia.Cta_codigo , AdcDia.Dia_ctanombre
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo and adccta.cta_nivel >= @nivel )
		where AdcCta.res_movFin=1 and isnull(vta.Dia_ctanombre,'') <> ''

		union all

		select null as codigo,'RESULTADO ANTES DEL IMPUESTO' as Nombre,SUM(vtaAnt.Valor ) as Año, sum(vta.Valor) as Año
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_cos=1 or AdcCta.res_vta=1 or AdcCta.res_gas=1 or AdcCta.res_movFin=1

		union all

		select SUBSTRING(max(vta.Cta_codigo) ,0,1),'IMPUESTO A LAS GANANCIAS' as Nombre,SUM(vtaAnt.Valor ) as Año, sum(vta.Valor) as Año
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_imp=1

		union all

		select null as Codigo,'RESULTADO DEL EJERCICIO' as Nombre,SUM(vtaAnt.Valor) as Año, sum(vta.Valor) as Año
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vta.Cta_codigo )
		where AdcCta.res_cos=1 or AdcCta.res_vta=1 or AdcCta.res_gas=1 or AdcCta.res_movFin=1 or AdcCta.res_imp=1) est 
		left join
		(
			select *
			from AdcNote 
			) nota
			on substring(nota.Nota_Mes,1,2) >= MONTH(@fecha)and substring(nota.Nota_Mes,4,2) >= MONTH(@fecha1) and nota.Nota_Año =YEAR(@fecha ) and nota.Nota_Origen ='BAL_RES'
end
else -----------------------------------------------------------------------------------------
begin
		select est.codigo ,est.Nombre , nota.Nota_Codigo as Nota,est.Año , cast(est.Año1 as numeric(18,2)) as Año1, cast((Año -Año1) as numeric(18,2)) as Diferencia
			,case when Año<=0 then 100 else cast(((Año1-Año)/Año *100) as numeric(18,2))end as Porcentaje
		from
		(
		select SUBSTRING(max(vta.Cta_codigo) ,0,1) AS codigo,'INGRESOS POR VENTAS NETAS' as Nombre,SUM(vtaAnt.Valor) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_vta=1

		union all

		select SUBSTRING(max(vta.Cta_codigo) ,0,1),'COSTO DE PRODUCTOS VENDIDOS' as Nombre,SUM(vtaAnt.Valor) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_cos=1

		union all

		select null as Codigo,'GANANCIA BRUTA' as Nombre,SUM(vtaAnt.Valor) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_cos=1 or AdcCta.res_vta=1

		union all

		select SUBSTRING(max(vta.Cta_codigo) ,0,1),'GASTOS DE COMERCIALIZACIÓN Y ADMINISTRACIÓN' as Nombre, SUM(vtaAnt.Valor ) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_gas=1

		union all

		select vta.Cta_codigo ,vta.Dia_ctanombre as Nombre,vtaAnt.Valor  as Año, vta.Valor as Año1
		from AdcCta
		left Join
		( 
		select AdcDia.Cta_codigo,AdcDia.Dia_ctanombre ,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1   and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo , AdcDia.Dia_ctanombre
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo and adccta.cta_nivel >= @nivel )
		left Join
		( 
		select AdcDia.Cta_codigo,AdcDia.Dia_ctanombre ,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo , AdcDia.Dia_ctanombre
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo and adccta.cta_nivel >= @nivel )
		where AdcCta.res_gas=1 and isnull(vta.Dia_ctanombre,'') <> ''

		union all

		select null as Codigo,'RESULTADO OPERATIVO' as Nombre,sum(vtaAnt.Valor) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_cos=1 or AdcCta.res_vta=1 or AdcCta.res_gas=1

		union all

		select SUBSTRING(max(vta.Cta_codigo) ,0,1),'MOVIMIENTOS FINANCIEROS' as Nombre,sum(vtaAnt.Valor) as Año, sum(vta.Valor) as Año1
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_movFin=1 

		union all

		select vta.Cta_codigo ,vta.Dia_ctanombre as Nombre,vta.Valor as Año, vta.Valor as Año1
		from AdcCta
		left Join
		( 
		select AdcDia.Cta_codigo,AdcDia.Dia_ctanombre ,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1  and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo , AdcDia.Dia_ctanombre
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo and adccta.cta_nivel >= @nivel )
		left Join
		( 
		select AdcDia.Cta_codigo,AdcDia.Dia_ctanombre ,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1  and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo , AdcDia.Dia_ctanombre
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo and adccta.cta_nivel >= @nivel )
		where AdcCta.res_movFin=1 and isnull(vta.Dia_ctanombre,'') <> ''

		union all

		select null as codigo,'RESULTADO ANTES DEL IMPUESTO' as Nombre,SUM(vtaAnt.Valor ) as Año, sum(vta.Valor) as Año
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_cos=1 or AdcCta.res_vta=1 or AdcCta.res_gas=1 or AdcCta.res_movFin=1

		union all

		select SUBSTRING(max(vta.Cta_codigo) ,0,1),'IMPUESTO A LAS GANANCIAS' as Nombre,SUM(vtaAnt.Valor ) as Año, sum(vta.Valor) as Año
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vtaAnt.Cta_codigo )
		where AdcCta.res_imp=1

		union all

		select null as Codigo,'RESULTADO DEL EJERCICIO' as Nombre,SUM(vtaAnt.Valor) as Año, sum(vta.Valor) as Año
		from AdcCta
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fecha and AdcDia.Dia_fecha<= @fecha1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vta on (AdcCta.Cta_codigo = vta.Cta_codigo )
		left Join
		(
		select AdcDia.Cta_codigo,sum(adcdia.dia_valor * adcdia.Dia_signo) as Valor
		from AdcDia
		where AdcDia.Dia_fecha >= @fechaAnt and AdcDia.Dia_fecha<= @fechaAnt1 and AdcDia.nifs <>1
		group by AdcDia.Cta_codigo 
		) vtaAnt on (AdcCta.Cta_codigo = vta.Cta_codigo )
		where AdcCta.res_cos=1 or AdcCta.res_vta=1 or AdcCta.res_gas=1 or AdcCta.res_movFin=1 or AdcCta.res_imp=1) est 
		left join
		(
			select *
			from AdcNote 
			) nota
			on substring(nota.Nota_Mes,1,2) >= MONTH(@fecha)and substring(nota.Nota_Mes,4,2) >= MONTH(@fecha1) and nota.Nota_Año =YEAR(@fecha ) and nota.Nota_Origen ='BAL_RES'
end		
END
