/****** Object:  StoredProcedure [dbo].[ADC_BALFC]    Script Date: 06/24/2011 14:43:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ADC_BALFC]
 (
   @fecha datetime=NULL,
   @fecAnt datetime= null,
   @nivel integer=0,
   @ExcluirNif as char(2)=''
   )
AS
BEGIN

declare @mes1 char(1)
declare @mes2 char(1)
declare @mes3 char(1)
declare @mes4 char(1)
declare @mes5 char(1)
declare @mes6 char(1)
declare @mes7 char(1)
declare @mes8 char(1)
declare @mes9 char(1)
declare @mes10 char(1)
declare @mes11 char(1)
declare @mes12 char(1)

if @ExcluirNif='No'
begin
	select t2.Codigo ,t2.Nombre, cast(t2.Año as numeric(18,2)) as Año , cast(t2.Año1 as numeric(18,2)) as Año1 
	,	case when t2.grupo IN (1,2,3,4) then cast((Año -Año1) as numeric(18,2)) else 0 end  as Diferencia,t2.Grupo ,Cta_claveaux3
	from 
	(
		select 
			t1.cTAaUX
			,case when substring(t1.cTAaUX ,t1.Nivel + 1,1)='Z' then '' else t1.Cta_codigo end as Codigo
			,t1.Nombre
			,case when (t1.Nivel IN (1,2)) AND NOT(substring(t1.cTAaUX ,t1.Nivel +1,1)='Z') then NULL else [2009] end as Año 
			,case when (t1.Nivel IN (1,2)) AND NOT(substring(t1.cTAaUX ,t1.Nivel +1,1)='Z') then NULL else [2010] end as Año1
			,t1.Nivel 
			,t1.grupo
			,Cta_claveaux3
		from 
		(
			select r1.cTAaUX
					,r1.Cta_codigo
					,r1.Nombre 
					,isnull(mov.saldo_ant  ,0) as [2009]
					,r1.[2010]
					,r1.Nivel
					,r1.Grupo 
					,r1.Cta_claveaux3
			from
			(
				SELECT AdcCta.cta_codigo AS cTAaUX,AdcCta.cta_codigo,MAX(ADCCTA.Cta_nombre) AS Nombre , sum(adcdia.dia_valor * adcdia.Dia_signo ) as [2010], max(Cta_Nivel) as Nivel,
				max(Cta_grupo ) as Grupo, MAX(isnull(Cta_claveaux3,'')) as Cta_claveaux3
				FROM AdcCta LEFT OUTER JOIN
				AdcDia ON AdcCta.Cta_codigo = substring(AdcDia.Cta_codigo,1,LEN(AdcCta.Cta_codigo))                      
				where ISNULL( adcdia.dia_valor ,0) > 0	and (adccta.Cta_Nivel  = @Nivel  or ( adccta.Cta_Nivel in (1))) and adcdia.Dia_fecha <=@Fecha ----and AdcCta.Cta_grupo <=3
				group by adccta.Cta_codigo
			) r1
			left join
			(
			----------------- SALDOS DEL AÑO ANTERIOR
				select case  MONTH(@fecha ) 
					when 1 then ene_sal 
					when 2 then feb_sal
					when 3 then mar_sal
					when 4 then abr_sal
					when 5 then may_sal
					when 6 then jun_sal
					when 7 then jul_sal
					when 8 then ags_sal
					when 9 then sep_sal
					when 10 then oct_sal
					when 11 then nov_sal
					when 12 then dic_sal 
				end
				as saldo_ant, m.Cta_Codigo
				from AdcCtaMov m left join AdcCta c
				on m.Cta_Codigo = c.Cta_codigo 
				WHERE Mov_Fecha  = YEAR(@fecAnt) and isnull(Cta_grupo,0) < 4
			) mov
			on r1.Cta_codigo = mov.Cta_Codigo 
			left join
			(
				----- SALDO DE CUENTAS DEL AÑO ACTUAL		
				SELECT AdcCta.cta_codigo AS cTAaUX,AdcCta.cta_codigo,MAX(ADCCTA.Cta_nombre) AS Nombre , sum(adcdia.dia_valor * adcdia.Dia_signo ) as [2009], max(Cta_Nivel) as Nivel,max(Cta_grupo ) as Grupo
				FROM         AdcCta LEFT OUTER JOIN
				AdcDia ON AdcCta.Cta_codigo = substring(AdcDia.Cta_codigo,1,LEN(AdcCta.Cta_codigo))                      
				where ISNULL( adcdia.dia_valor ,0) > 0	and (adccta.Cta_Nivel  = @nivel) and adcdia.Dia_fecha <=@fecAnt --and AdcCta.Cta_grupo <=3

				group by adccta.Cta_codigo
			) ctadia
			on(r1.Cta_codigo = ctadia .Cta_codigo ) 
			UNION ALL
			select r1.CODIGOTOTAL
				,r1.Cta_codigo  
				,R1.Nombre
				,case when r1.grupo = 4 then 0 else isnull(adcctamov.Mov_SalDebe ,0) end as [2009]
				,R1.[2010] 
				,R1.Nivel
				,R1.Grupo 
				,'' as Cta_claveaux3 
			from
			(
				SELECT  AdcCta.cta_codigo + 'Zz' AS CODIGOTOTAL,AdcCta.cta_codigo,'     TOTAL ' + MAX(ADCCTA.Cta_nombre) AS Nombre , sum(adcdia.dia_valor * adcdia.Dia_signo ) as [2010], max(Cta_Nivel) as Nivel,0 as Grupo,MAX(Cta_claveaux3) as Cta_claveaux3
				FROM         AdcCta LEFT OUTER JOIN
				AdcDia ON AdcCta.Cta_codigo = substring(AdcDia.Cta_codigo,1,LEN(AdcCta.Cta_codigo))                      
				where ISNULL( adcdia.dia_valor ,0) > 0	and (adccta.Cta_Nivel IN (1)) and adcdia.Dia_fecha <=@Fecha and adcdia.Dia_fecha <=@Fecha ----and AdcCta.Cta_grupo <=3
				group by adccta.Cta_codigo
			) r1
			left join AdcCtaMov 
			on r1.Cta_codigo = adcctamov.Cta_Codigo 	
			UNION ALL
				---- ENCONTRAR LA UTILIDAD DEL AÑO ACTUAL
			select r2.CODIGOTOTAL
			,r2.Cta_codigo  
			,R2.Nombre
			,0 as [2009]
			,R2.[2010] 
			,R2.Nivel
			,R2.Grupo 
			,'' as Cta_claveaux3
			from
			(
				select max(cta.CODIGOTOTAL) as  CODIGOTOTAL,max(adccta.Cta_codigo) as cta_codigo, max(cta.Nombre) as Nombre,sum(cta.[2010] ) as [2010],max(cta.Nivel) as Nivel,max(grupo ) as grupo 
				from AdcCta 
				left join
				(
					SELECT AdcCta.cta_codigo + 'Z' AS CODIGOTOTAL,AdcCta.cta_codigo,'     UTILIDAD (PERDIDA) NETAS' AS Nombre , sum(adcdia.dia_valor * adcdia.Dia_signo ) as [2010], max(Cta_Nivel) as Nivel,9 as Grupo
					FROM         AdcCta LEFT OUTER JOIN
					AdcDia ON AdcCta.Cta_codigo = substring(AdcDia.Cta_codigo,1,LEN(AdcCta.Cta_codigo))                  
					where ISNULL( adcdia.dia_valor ,0) > 0	and (adccta.Cta_Nivel IN (1)) and adcdia.Dia_fecha <=@Fecha and AdcCta.Cta_grupo=4
					group by adccta.Cta_codigo
				)cta
				on(cta.Cta_codigo = AdcCta.Cta_codigo)
				where (substring(cta.CODIGOTOTAL ,cta.Nivel +1,1)='Z') 
			)R2 
---			left join AdcCtaMov 
---			on r2.Cta_codigo = adcctamov.Cta_Codigo 
		) t1
	)t2	
	ORDER BY t2.cTAaUX 
end
else------------------------------------------------------------------------------------------------------------
begin
select t2.Codigo ,t2.Nombre, cast(t2.Año as numeric(18,2)) as Año , cast(t2.Año1 as numeric(18,2)) as Año1 
	,	case when t2.grupo IN (1,2,3,4) then cast((Año -Año1) as numeric(18,2)) else 0 end  as Diferencia,t2.Grupo ,Cta_claveaux3
	from 
	(
		select 
			t1.cTAaUX
			,case when substring(t1.cTAaUX ,t1.Nivel + 1,1)='Z' then '' else t1.Cta_codigo end as Codigo
			,t1.Nombre
			,case when (t1.Nivel IN (1,2)) AND NOT(substring(t1.cTAaUX ,t1.Nivel +1,1)='Z') then NULL else [2009] end as Año 
			,case when (t1.Nivel IN (1,2)) AND NOT(substring(t1.cTAaUX ,t1.Nivel +1,1)='Z') then NULL else [2010] end as Año1
			,t1.Nivel 
			,t1.grupo
			,Cta_claveaux3
		from 
		(
			select r1.cTAaUX
					,r1.Cta_codigo
					,r1.Nombre 
					,isnull(mov.saldo_ant  ,0) as [2009]
					,r1.[2010]
					,r1.Nivel
					,r1.Grupo 
					,r1.Cta_claveaux3
			from
			(
				SELECT AdcCta.cta_codigo AS cTAaUX,AdcCta.cta_codigo,MAX(ADCCTA.Cta_nombre) AS Nombre , sum(adcdia.dia_valor * adcdia.Dia_signo ) as [2010], max(Cta_Nivel) as Nivel,
				max(Cta_grupo ) as Grupo, MAX(isnull(Cta_claveaux3,'')) as Cta_claveaux3
				FROM AdcCta LEFT OUTER JOIN
				AdcDia ON AdcCta.Cta_codigo = substring(AdcDia.Cta_codigo,1,LEN(AdcCta.Cta_codigo))                    
				where ISNULL( adcdia.dia_valor ,0) > 0	and (adccta.Cta_Nivel  = @Nivel  or ( adccta.Cta_Nivel in (1))) and adcdia.Dia_fecha <=@Fecha and ISNULL(adcdia.nifs,0)<>1----and AdcCta.Cta_grupo <=3
				group by adccta.Cta_codigo
			) r1
			left join
			(
			----------------- SALDOS DEL AÑO ANTERIOR
				select case  MONTH(@fecha ) 
					when 1 then ene_sal 
					when 2 then feb_sal
					when 3 then mar_sal
					when 4 then abr_sal
					when 5 then may_sal
					when 6 then jun_sal
					when 7 then jul_sal
					when 8 then ags_sal
					when 9 then sep_sal
					when 10 then oct_sal
					when 11 then nov_sal
					when 12 then dic_sal 
				end
				as saldo_ant, m.Cta_Codigo
				from AdcCtaMov m left join AdcCta c
				on m.Cta_Codigo = c.Cta_codigo 
				WHERE Mov_Fecha  = YEAR(@fecAnt) and isnull(Cta_grupo,0) < 4
			) mov
			on r1.Cta_codigo = mov.Cta_Codigo 
			left join
			(
				----- SALDO DE CUENTAS DEL AÑO ACTUAL		
				SELECT AdcCta.cta_codigo AS cTAaUX,AdcCta.cta_codigo,MAX(ADCCTA.Cta_nombre) AS Nombre , sum(adcdia.dia_valor * adcdia.Dia_signo ) as [2009], max(Cta_Nivel) as Nivel,max(Cta_grupo ) as Grupo
				FROM         AdcCta LEFT OUTER JOIN
				AdcDia ON AdcCta.Cta_codigo = substring(AdcDia.Cta_codigo,1,LEN(AdcCta.Cta_codigo))                      
				where ISNULL( adcdia.dia_valor ,0) > 0	and (adccta.Cta_Nivel  = @nivel) and adcdia.Dia_fecha <=@fecAnt and ISNULL(adcdia.nifs,0)<>1 --and AdcCta.Cta_grupo <=3

				group by adccta.Cta_codigo
			) ctadia
			on(r1.Cta_codigo = ctadia .Cta_codigo ) 
			UNION ALL
			select r1.CODIGOTOTAL
				,r1.Cta_codigo  
				,R1.Nombre
				,case when r1.grupo = 4 then 0 else isnull(adcctamov.Mov_SalDebe ,0) end as [2009]
				,R1.[2010] 
				,R1.Nivel
				,R1.Grupo 
				,'' as Cta_claveaux3 
			from
			(
				SELECT  AdcCta.cta_codigo + 'Zz' AS CODIGOTOTAL,AdcCta.cta_codigo,'     TOTAL ' + MAX(ADCCTA.Cta_nombre) AS Nombre , sum(adcdia.dia_valor * adcdia.Dia_signo ) as [2010], max(Cta_Nivel) as Nivel,0 as Grupo,MAX(Cta_claveaux3) as Cta_claveaux3
				FROM         AdcCta LEFT OUTER JOIN
				AdcDia ON AdcCta.Cta_codigo = substring(AdcDia.Cta_codigo,1,LEN(AdcCta.Cta_codigo))                      
				where ISNULL( adcdia.dia_valor ,0) > 0	and (adccta.Cta_Nivel IN (1)) and adcdia.Dia_fecha <=@Fecha and adcdia.Dia_fecha <=@Fecha and ISNULL(adcdia.nifs,0)<>1----and AdcCta.Cta_grupo <=3
				group by adccta.Cta_codigo
			) r1
			left join AdcCtaMov 
			on r1.Cta_codigo = adcctamov.Cta_Codigo 	
			UNION ALL
				---- ENCONTRAR LA UTILIDAD DEL AÑO ACTUAL
			select r2.CODIGOTOTAL
			,r2.Cta_codigo  
			,R2.Nombre
			,0 as [2009]
			,R2.[2010] 
			,R2.Nivel
			,R2.Grupo 
			,'' as Cta_claveaux3
			from
			(
				select max(cta.CODIGOTOTAL) as  CODIGOTOTAL,max(adccta.Cta_codigo) as cta_codigo, max(cta.Nombre) as Nombre,sum(cta.[2010] ) as [2010],max(cta.Nivel) as Nivel,max(grupo ) as grupo 
				from AdcCta 
				left join
				(
					SELECT AdcCta.cta_codigo + 'Z' AS CODIGOTOTAL,AdcCta.cta_codigo,'     UTILIDAD (PERDIDA) NETAS' AS Nombre , sum(adcdia.dia_valor * adcdia.Dia_signo ) as [2010], max(Cta_Nivel) as Nivel,9 as Grupo
					FROM         AdcCta LEFT OUTER JOIN
					AdcDia ON AdcCta.Cta_codigo = substring(AdcDia.Cta_codigo,1,LEN(AdcCta.Cta_codigo))                  
					where ISNULL( adcdia.dia_valor ,0) > 0	and (adccta.Cta_Nivel IN (1)) and adcdia.Dia_fecha <=@Fecha and AdcCta.Cta_grupo=4 and ISNULL(adcdia.nifs,0)<>1 
					group by adccta.Cta_codigo
				)cta
				on(cta.Cta_codigo = AdcCta.Cta_codigo)
				where (substring(cta.CODIGOTOTAL ,cta.Nivel +1,1)='Z') 
			)R2 
---			left join AdcCtaMov 
---			on r2.Cta_codigo = adcctamov.Cta_Codigo 
		) t1
	)t2	
	ORDER BY t2.cTAaUX 

end
end
