/****** Object:  StoredProcedure [dbo].[ACTF_INS_MOD]    Script Date: 07/06/2011 15:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 ALTER PROCEDURE [dbo].[ACTF_INS_MOD]
    (@OPCION VARCHAR(3)='',
    @CODIGO VARCHAR(20)='',
	@NOMBRE VARCHAR(80)='',
	@TIPOACTIVO VARCHAR(20),
	@CATEGORIA VARCHAR(5)='',
	@CLASE VARCHAR(5)='',
	@GRUPO VARCHAR(5)='',
	@SUBGRUPO VARCHAR(5)='',
	@MARCA VARCHAR(30)='',
	@SERIE VARCHAR(25)='',
	@NROLOTE VARCHAR(20)='',
	@CENTROCOSTO VARCHAR(25)='',
	@CODACTIVOPRINCIPAL VARCHAR(20)='',
	@ESACTIVOCOMPUESTO BIT='',
	@DESCRIPCION NTEXT='',
	@UBICASUCURSAL VARCHAR(3)='',
	@UBICADEPARTAMENTO VARCHAR(3)='',
	@UBICASECCION VARCHAR(30)='',
	@RESPONSABLE VARCHAR(50)='',
	@ESTADO VARCHAR(40)='',
	@TASADEPRESIACION NUMERIC(8,4)=0,
	@FECINGRESO DATETIME='',
	@COSTOINGRESO NUMERIC(22,8)=0,
	@DOCTIPINGRESO VARCHAR(3)='',
	@DOCNUMINGRESO NUMERIC(18,0)=0,
	@FECSALIDA DATETIME='',
	@DOCTIPSALIDA VARCHAR(3)='',
	@DOCNUMSALIDA NUMERIC(18,0)=0,
	@CTACONTABLE1 VARCHAR(15)='',
	@CTACONTABLE2 VARCHAR(15)='',
	@CTACONTABLE3 VARCHAR(15)='',
	@CTACONTABLE4 VARCHAR(15)='',
	@VALORRESIDUAL NUMERIC(22,8)=0,
	@TIPODEPRECIACIONCONT INT=0,
	@TIPODEPRECIACIONTRIBUTA INT=0,
	@VIDAUTILCONT NUMERIC(4,0)=0,
	@VIDAUTILTRIBUTA NUMERIC(4,0)=0,
	@UNIDADESPRODUCCIONCONT NUMERIC(10,0)='',
	@UNIDADESPRODUCCIONTRIB NUMERIC(10,0)='',
	@TASADEPCONT NUMERIC(8,4)='',
	@TASADEPTRIBUT NUMERIC(8,4)=0,
	@VALORACTUALCONT NUMERIC(22,4)=0,
	@VALORACTUALTRIBUT NUMERIC(22,4)=0,
	@ULTIMOAÑOCALC NUMERIC(6,0)=0,
	@ULTIMOMESCALC NUMERIC(6,0)=0,
	@USUARIOCREA VARCHAR(30)='',
	@FECHACREA DATETIME='',
	@USUARIOMODIFICA VARCHAR(30)='',
	@FECHAMODIFICA DATETIME='',
	@TEXTO1 VARCHAR(30)='',
	@TEXTO2 VARCHAR(30)='',
	@TEXTO3 VARCHAR(30)='',
	@TEXTO4 VARCHAR(30)='',
	@TEXTO5 VARCHAR(30)='',
	@TEXTO6 VARCHAR(30)='',
	@TEXTO7 VARCHAR(30)='',
	@TEXTO8 VARCHAR(30)='',
	@TEXTO9 VARCHAR(30)='',
	@TEXTO10 VARCHAR(30)='',
	@DET1 VARCHAR(80)='',
	@DET2 VARCHAR(80)='',
	@DET3 VARCHAR(80)='',
	@DET4 VARCHAR(80)='',
	@DET5 VARCHAR(80)='',
	@VALOR1 NUMERIC(22,8)=0,
	@VALOR2 NUMERIC(22,8)=0,
	@VALOR3 NUMERIC(22,8)=0,
	@VALOR4 NUMERIC(22,8)=0,
	@VALOR5 NUMERIC(22,8)=0,
	@FECHA1 DATETIME=null,
	@FECHA2 DATETIME=null,
	@FECHA3 DATETIME=null,
	@LOGICO1 BIT='',
	@LOGICO2 BIT='',
	@LOGICO3 BIT='',
	@IMAGEN VARCHAR(512)='', 
	@CANTIDAD NUMERIC(22,8)=0,
	@ASEGURADORA VARCHAR(30)='',
	@NCONTRATO NUMERIC(22,0)=0,
	@FECHAINGSEGURO DATETIME=NULL,
	@FECHASALSEGURO DATETIME=NULL,
	@MONTOASEGURADO NUMERIC(22,8)=0,
	@DEDUCIBLE NUMERIC(22,8)=0,
	@PAGOMENSUAL NUMERIC (22,8)=0,
	@MONEDA CHAR(3)='',
	@PARIDAD NUMERIC(22,8)=0,
	@ESCOMPONENTE BIT=''
	)
AS
BEGIN         
	IF @OPCION ='I'
	INSERT INTO AdcAcf
	(
		Codigo,
		Nombre,
		TipoActivo,
		Categoria,
		Clase,
		Grupo,
		Subgrupo,
		Marca,
		Serie,
		NroLote,
		CentroCosto,
		CodActivoPrincipal,
		EsActivoCompuesto,
		Descripcion,
		UbicaSucursal,
		UbicaDepartamento,
		UbicaSeccion,
		Responsable,
		Estado,
		TasaDepreciacion,
		FecIngreso,
		CostoIngreso,
		DocTipIngreso,
		DocNumIngreso,
		FecSalida,
		DocTipSalida,
		DocNumSalida,
		CtaContable1,
		CtaContable2,
		CtaContable3,
		CtaContable4,
		ValorResidual,
		TipoDepreciacionCont,
		TipoDepreciacionTributa,
		VidaUtilCont,
		VidaUtilTributa,
		UnidacesProduccionCont,
		UnidadesProduccionTribut,
		TasaDepCont,
		TasaDepTribut,
		ValorActualCont,
		ValorActualTribut,
		UltimoAñoCalc,
		UltimoMesCalc,
		UsuarioCrea,
		FechaCrea,
		UsuarioModifica,
		FechaModifica,
		Texto1,
		Texto2,
		Texto3,
		Texto4,
		Texto5,
		Texto6,
	    Texto7,
	    Texto8,
	    Texto9,
	    Texto10,
		Det1,
		Det2,
		Det3,
		Det4,
		Det5,
		Valor1,
		Valor2,
		Valor3,
		Valor4,
		Valor5,
		Fecha1,
		Fecha2,
		Fecha3,
		Logico1,
		Logico2,
		Logico3,
		Imagen,
		Cantidad,
		Aseguradora,
		NContrato,
		FechaIngSeguro,
		FechaSalSeguro,
		MontoAsegurado,
		Deducible,
		PagoMensual,
		Moneda,
		Paridad,
	    EsComponente)
		 
	VALUES(
		@CODIGO,
		@NOMBRE,
		@TIPOACTIVO,
		@CATEGORIA,
		@CLASE,
		@GRUPO,
		@SUBGRUPO,
		@MARCA,
		@SERIE,
		@NROLOTE,
		@CENTROCOSTO,
		@CODACTIVOPRINCIPAL,
		@ESACTIVOCOMPUESTO ,
		@DESCRIPCION,
		@UBICASUCURSAL,
		@UBICADEPARTAMENTO,
		@UBICASECCION,
		@RESPONSABLE,
		@ESTADO,
		@TASADEPRESIACION,
		@FECINGRESO,
		@COSTOINGRESO,
		@DOCTIPINGRESO,
		@DOCNUMINGRESO,
		@FECSALIDA,
		@DOCTIPSALIDA,
		@DOCNUMSALIDA,
		@CTACONTABLE1,
		@CTACONTABLE2,
		@CTACONTABLE3,
		@CTACONTABLE4,
		@VALORRESIDUAL,
		@TIPODEPRECIACIONCONT ,
		@TIPODEPRECIACIONTRIBUTA ,
		@VIDAUTILCONT,
		@VIDAUTILTRIBUTA,
		@UNIDADESPRODUCCIONCONT ,
		@UNIDADESPRODUCCIONTRIB ,
		@TASADEPCONT,
		@TASADEPTRIBUT,
		@VALORACTUALCONT,
		@VALORACTUALTRIBUT,
		@ULTIMOAÑOCALC,
		@ULTIMOMESCALC,
		@USUARIOCREA,
		@FECHACREA,
		@USUARIOMODIFICA,
		@FECHAMODIFICA,
		@TEXTO1,
		@TEXTO2,
		@TEXTO3,
		@TEXTO4,
		@TEXTO5,
		@TEXTO6,
		@TEXTO7,
		@TEXTO8,
		@TEXTO9,
		@TEXTO10,
		@DET1,
		@DET2,
		@DET3,
		@DET4,
		@DET5,
		@VALOR1,
		@VALOR2,
		@VALOR3,
		@VALOR4,
		@VALOR5,
		@FECHA1,
		@FECHA2,
		@FECHA3,
		@LOGICO1,
		@LOGICO2,
		@LOGICO3,
		@IMAGEN,
		@CANTIDAD,
		@ASEGURADORA,
		@NCONTRATO,
		@FECHAINGSEGURO,
		@FECHASALSEGURO,
		@MONTOASEGURADO,
		@DEDUCIBLE,
		@PAGOMENSUAL,
		@MONEDA,
		@PARIDAD,
		@ESCOMPONENTE
 )
	ELSE
	   IF @OPCION='U'
	      UPDATE AdcAcf 
	      SET
	      Nombre = @NOMBRE,
	      Categoria = @CATEGORIA ,
	      TipoActivo = @TIPOACTIVO ,
		  Clase = @CLASE ,
		  Grupo = @GRUPO ,
		  Subgrupo = @SUBGRUPO ,
		  Marca = @MARCA ,
		  Serie = @SERIE ,
		  NroLote = @NROLOTE ,
		  CentroCosto = @CENTROCOSTO ,
		  CodActivoPrincipal = @CODACTIVOPRINCIPAL ,
		  EsActivoCompuesto = @ESACTIVOCOMPUESTO ,
		  Descripcion = @DESCRIPCION ,
		  UbicaSucursal = @UBICASUCURSAL ,
		  UbicaDepartamento = @UBICADEPARTAMENTO ,
		  UbicaSeccion = @UBICASECCION ,
		  Responsable = @RESPONSABLE ,
		  Estado = @ESTADO ,
		  TasaDepreciacion = @TASADEPRESIACION ,
		  FecIngreso = @FECINGRESO ,
		  CostoIngreso = @COSTOINGRESO ,
		  DocTipIngreso = @DOCTIPINGRESO ,
		  DocNumIngreso = @DOCNUMSALIDA ,
		  FecSalida = @FECSALIDA ,
		  DocTipSalida = @DOCTIPSALIDA ,
		  DocNumSalida = @DOCNUMSALIDA,
		  CtaContable1 = @CTACONTABLE1 ,
		  CtaContable2 = @CTACONTABLE2 ,
		  CtaContable3 = @CTACONTABLE3 ,
		  CtaContable4 = @CTACONTABLE4 ,
		  ValorResidual = @VALORRESIDUAL ,
		  TipoDepreciacionCont  = @TIPODEPRECIACIONCONT ,
		  TipoDepreciacionTributa = @TIPODEPRECIACIONTRIBUTA ,
		  VidaUtilCont = @VIDAUTILCONT ,
		  VidaUtilTributa = @VIDAUTILTRIBUTA ,
		  UnidacesProduccionCont = @UNIDADESPRODUCCIONCONT ,
		  UnidadesProduccionTribut = @UNIDADESPRODUCCIONTRIB ,
		  TasaDepCont = @TASADEPCONT ,
		  TasaDepTribut = @TASADEPTRIBUT ,
		  ValorActualCont = @VALORACTUALCONT ,
		  ValorActualTribut = @VALORACTUALTRIBUT,
		  UltimoAñoCalc = @ULTIMOAÑOCALC,
		  UltimoMesCalc = @ULTIMOMESCALC,
		  UsuarioCrea = @USUARIOCREA,
		  FechaCrea = @FECHACREA,
		  UsuarioModifica = @USUARIOMODIFICA,
		  FechaModifica = @FECHAMODIFICA,
		  Texto1 = @TEXTO1,
		  Texto2 = @TEXTO2,
		  Texto3 = @TEXTO3,
		  Texto4 = @TEXTO4,
		  Texto5 = @TEXTO5,
		  Texto6 = @TEXTO6,
	      Texto7 = @TEXTO7,
	      Texto8 = @TEXTO8,
	      Texto9 = @TEXTO9,
	      Texto10 = @TEXTO10,
		  Det1 = @DET1 ,
		  Det2 = @DET2 ,
		  Det3 = @DET3,
		  Det4 = @DET4,
		  Det5 = @DET5,
		  Valor1 = @VALOR1,
		  Valor2 = @VALOR2,
		  Valor3 = @VALOR3,
		  Valor4 = @VALOR4,
		  Valor5 = @VALOR5,
		  Fecha1 = @FECHA1,
		  Fecha2 = @FECHA2,
		  Fecha3 = @FECHA3,
		  Logico1 = @LOGICO1,
		  Logico2 = @LOGICO2,
		  Logico3 = @LOGICO3,
		  Imagen = @IMAGEN,
		  Cantidad =@CANTIDAD,
		  Aseguradora=@ASEGURADORA ,
		  NContrato=@NCONTRATO,
		  FechaIngSeguro=@FECHAINGSEGURO,
		  FechaSalSeguro=@FECHASALSEGURO,
		  MontoAsegurado=@MONTOASEGURADO,
		  Deducible=@DEDUCIBLE,
		  PagoMensual = @PAGOMENSUAL,
		  Moneda = @MONEDA,
		  Paridad=@PARIDAD,
		  EsComponente = @ESCOMPONENTE
	      WHERE Codigo = @CODIGO 
END

