<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LstaGC.Properties.Settings.BdAdcomDx10ConnectionString"
            connectionString="Data Source=SISTEMAS2-PC;Initial Catalog=BdAdcomDx10;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>